.Footer {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
}

.Footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: solid 2px purple; */
}

li {
  margin: 15px;
  font-size: 25px;
}

.Footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 130px;
  /* border: solid 2px red; */
}
